---
layout: page
title: Estudos
---

<p>A lista abaixo são os artigos que ando lendo por um motivo qualquer e que achei legal deixar salvo minhas impressões. </p>

<p> Essa lista é mais pra mim do que pra outras pessoas, mas, se de alguma forma ela também ajudar alguém, fico feliz. </p>
<br>

<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'estudos' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
