---
layout: default
title: Home
---

<section>
	<h3>This is Giovana's super cool website</h3>
		  <!-- <p>Pseudo-random idea generator</p> -->
</section>

<section>
	<p>I am a PhD Candidate at New York University and a member of the Music and
	Audio Research Lab (MARL), where I am supervised by Magdalena Fuentes. I am
	interested in multimodal models (audio-vision, audio-text), explainability
    techniques, music information retrieval and all of them combined.
	</p>
	<p>You can find a longer bio <a href="about">here</a>.</p>
</section>

<section>
    <h3>News</h3>
    <ul>
      {% for item in site.data.news %}
          <li><b>[{{ item.date | date: "%b, %Y" }}]</b> {{ item.news }}</b></li>
      {% endfor %}
      <li><a href="news">+ more</a></li>
    </ul>
</section>


<section>
	<h3>Academic Service - Reviewer</h3>
	<ul>
      {% for item in site.data.service.conferences %}
          <li><b>{{ item.name }}</b> - {{ item.years }}</b></li>
      {% endfor %}
      {% for item in site.data.service.journals %}
          <li><b>{{ item.name }}</b> · {{ item.years }}</b></li>
      {% endfor %}
    </ul>

	<h3>Organization</h3>
    <ul>
      {% for item in site.data.service.organization %}
          <li><b>{{ item.name }}</b> - {{ item.years }}</b></li>
      {% endfor %}
  </ul>
</section>
