---
layout: default
---

{%-include back_link.html-%}

<h1>{{ page.title }}</h1>

<h2>acadêmicos</h2>
<ul>
  {%-for item in site.data.projetos.entries.research%}
    <li>
      <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
		  {%-if item.description -%}
			<p>{{ item.description }}</p>
    {%- endif -%}
    </li>
  {%-endfor-%}
</ul>

<br>
<h2>não-acadêmicos</h2>
<ul>
  {%-for item in site.data.projetos.entries.random%}
    <li>
      <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
		  {%-if item.description -%}
			<p>{{ item.description }}</p>
    {%- endif -%}
    </li>
  {%-endfor-%}
</ul>
