---
layout: default
title: Publications
---

<h2>Publications</h2>
<ul class="pub-list">
  {% for paper in site.data.publications.conferences %}
    <li class="pub-item">
      <div class="pub-title">{{ paper.title }}</div>
      <div class="pub-authors">{{ paper.authors }}</div>
      <div class="pub-meta">
        {{ paper.conference }} · {{ paper.year }}
        {% if paper.award %}
          <span class="pub-award">{{ paper.award }}</span>
        {% endif %}
				<br>
				{% if paper.code %}<a href="{{ paper.code }}" title="Engine">[code]</a>{% endif %}
        {% if paper.pdf_link %}<a href="{{ paper.pdf_link }}" title="PDF">[pdf]</a>{% endif %}
        {% if paper.bibtex %}<a href="{{ paper.bibtex }}" title="BibTeX">[bibtex]</a>{% endif %}
        {% if paper.demo %}<a href="{{ paper.demo }}" title="Demo">[demo]</a>{% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

<h2>White Papers</h2>
<ul class="pub-list">
  {% for paper in site.data.publications.white_papers %}
    <li class="pub-item">
      <div class="pub-title">{{ paper.title }}</div>
      <div class="pub-authors">{{ paper.authors }}</div>
      <div class="pub-meta">
        {{ paper.conference }} · {{ paper.year }}
				<br>
				{% if paper.code %}<a href="{{ paper.code }}" title="Engine">[code]</a>{% endif %}
        {% if paper.pdf_link %}<a href="{{ paper.pdf_link }}" title="PDF">[pdf]</a>{% endif %}
        {% if paper.bibtex %}<a href="{{ paper.bibtex }}" title="BibTeX">[bibtex]</a>{% endif %}
        {% if paper.demo %}<a href="{{ paper.demo }}" title="Demo">[demo]</a>{% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
